body {
	margin: 0px;
	font-family: Verdana,sans-serif;
}

/* Barre en haut de page, bouton de changement de langue */
#entete {
	position: relative;
	height: 50px;
	display: block;
	background-color: #3193C6;
}
#entete a {
	position: relative;
	vertical-align: middle;
	line-height: 50px;
	text-align: center;
	color: white;
	text-decoration: none;
}
#entete #boutonVeloMTL {
	margin-left: 20px;
	font-size: 22px;
	padding-top: 19px;
	padding-bottom: 19px;
}
#entete #boutonAccueil {
	margin-left: 12px;
	font-size: 16px;
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}
#entete #boutonAccueil:hover {
	background-color: #27759E;
}
#entete #boutonLangue {
	position: absolute;
	/*top: -15px;*/
	right: 22px;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
}
#entete #boutonLangue:hover {
	background-color: #27759E;
}


#map {
    height: 800;
}
