body {
	margin: 0px;
	font-family: Verdana,sans-serif;
}

/* Barre en haut de page, bouton de changement de langue */
#entete {
	position: relative;
	height: 50px;
	display: block;
	background-color: #3193C6;
}
#entete a {
	position: relative;
	vertical-align: middle;
	line-height: 50px;
	text-align: center;
	color: white;
	text-decoration: none;
}
#entete #boutonVeloMTL {
	margin-left: 20px;
	font-size: 22px;
	padding-top: 19px;
	padding-bottom: 19px;
}
#entete #boutonAccueil {
	margin-left: 12px;
	font-size: 16px;
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}
#entete #boutonAccueil:hover {
	background-color: #27759E;
}
#entete #boutonLangue {
	position: absolute;
	/*top: -15px;*/
	right: 22px;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
}
#entete #boutonLangue:hover {
	background-color: #27759E;
}

.nav-tabs {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.nav-tabs li a {
	background-color: #eeeeee;
}

.nav-tabs li a:hover {
	background-color: #dddddd;
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus {
	background-color: seagreen;
	color: white;
}


/* -----  Onglet carte  ----- */

#recherche-localisation {
    position: absolute;
    margin-left: 20px;
}

.ui-autocomplete {
    max-height: 200px;
    width: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

#recherche {
    width: 350px;
}

#info-stations {
    width: 900px;
    margin-left: auto;
    margin-right: 100px;
}

.table-striped {
    table-layout: fixed;
}

#info-stations div {
	background-color: #3193C6;
	height: 15px;
}

.champ {
    position: absolute;
}

.info {
    position: relative;
    left: 300px;
}

#div-map {
    height: 400px;
}

h3 {
    color: #3193C6;
    font-size: 24px;
}

h4 {
    font-size: 24px;
}
